<!DOCTYPE html>
<html lang="ja">
<header>
   <meta charset="UTF-8" />
   
</header>
<body>
  <h1>
    Books
  </h1>
    <div class="table-head">
      <tr>
       <th>Title</th>
       <th>Body</th>
    </div>
  <h2>New Book</h2>
  <% @books.each do |book| %>
  <span><%= book.title %></span>
  <span><%= book.body %></span>
  <% end %>
</body>