<!DOCTYPE html>
<html lang="ja">
<header>
   <meta charset="UTF-8" />
   <link rel="stylesheet" href="top.css" />
</header>
<body>
  <h1>ようこそ<span>Bookers</span>へ!</h1>
  <p><span>Bookers</span>では、さまざまな書式に関するあなたの意見や</p>
  <p>印象を共有し交換することができます</p>
  <p>
    <a href="books">start</a>
  </p>
</body>
